<%- include('partials/header') %>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <% for(var i=(post.length-1);i>=0;i--){ %>
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic">
                                    <a href="/profile/<%= post[i].creator._id %>">
                                        <img src="<%= post[i].creator.profPic %>" alt="">
                                    </a>
                                </div>
                                <a class="username" href="/profile/<%= post[i].creator._id %>">
                                    <%= post[i].creator.username %>
                                </a>
                                    
                            </div>
                            <i class="fas fa-plus options"></i>
                        </div>

                        <img src="<%= post[i].imgPath %>" class="post-image">
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <form action="/like_this/post" method="post">
                                    <button class="heart" type="submit" name="heart_btn">
                                        <i class="icon fas fa-heart"></i>
                                    </button>
                                </form>
                                <i class="icon fas fa-comment"></i>
                            </div>

                            <p class="likes">
                                <%= post[i].likes %> likes
                            </p>
                            <p class="description"><span>
                                <%= post[i].creator.username %>
                            </span>
                            <p> <%=post[i].caption%></p>
                           
                        </p>
                        
                        <p class="post-time">
                            <%= post[i].timestamp %>
                        </p>
                            
                        
                        
                        
                        <% if(post[i].comments.length>0){ %>
                                <p class="description"><span>
                                        <%= post[i].comments[post[i].comments.length-1].author.username %>
                                    </span>
                                    <%=post[i].comments[post[i].comments.length-1].text%>
                                </p>
                                <% } %>
                                    <p class="post-time">
                                        <%= post[i].timestamp %>
                                    </p>
                        </div>

                        <% if(post[i].comments.length>0){ %>
                            <div class="comment-element">
                                <img src="<%= currentUser.profPic %>" alt="" class="icon">
                                <p>This is a comment <span>3024/90/46</span></p>
                            </div>
                        <% } %>





                        <div class="comment-wrapper">
                            <img src="<%= currentUser.profPic %>" alt="" class="icon">
                            <form class="comment-wrapper" action="/index/<%= post[i]._id %>/comment" method="POST">
                                <input type="text" name="comment" class="comment-box" placeholder="Add a comment">
                                <button class="comment-btn">comment</button>
                            </form>
                            
                        </div>
                        <div></div>

                    </div>
                    <br><br><br><br><br><hr>
                    <% } %>

            </div>
            <%- include('partials/right') %>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    </body>

    </html>