<%- include('partials/header') %>


    <header class="profile-header">
        <p></p>
        <div class="profile-container">
            <div class="profile">
                <div class="profile-image">
                    <img src="/img/dp.jpg" alt="">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">
                        <%=(typeof username !="undefined" ? username : "" )%>
                    </h1>
                    <button class="profile-btn profile-edit-btn">Edit Profile</button>
                    <button class="profile-btn profile-settings-btn" aria-label="profile-settings">
                        <i class="fas fa-cog"></i>
                    </button>
                </div>
                <div class="profile-stats">
                    <ul>
                        <li><span class="profile-stat-count">
                                <%=(typeof posts !="undefined" ? posts : "" )%>
                            </span> posts</li>
                        <li><span class="profile-stat-count">
                                <%=(typeof followers !="undefined" ? followers : "" )%>
                            </span> followers</li>
                        <li><span class="profile-stat-count">
                                <%=(typeof following !="undefined" ? following : "" )%>
                            </span> following</li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p><span class="profile-real-name">
                            <%=(typeof username !="undefined" ? username : "" )%>
                        </span>
                        <%=(typeof bio !="undefined" ? bio : "" )%>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="profile-container">
            <div class="gallery">
                <div class="gallery-item">
                    <img src="/img/4.jpg" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="hide-gallery">Likes:</span>
                                <i class="fas fa-heart"></i>
                            </li>
                            <li class="gallery-item-comments"><span class="hide-gallery">Comments:</span>
                                <i class="fas fa-comment"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/4.jpg" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="hide-gallery">Likes:</span>
                                <i class="fas fa-heart"></i>
                            </li>
                            <li class="gallery-item-comments"><span class="hide-gallery">Comments:</span>
                                <i class="fas fa-comment"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/4.jpg" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="hide-gallery">56</span>
                                <i class="fas fa-heart"></i>
                            </li>
                            <li class="gallery-item-comments"><span class="hide-gallery">33</span>
                                <i class="fas fa-comment"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>

    </html>